
<div class="container container-fluid">
  <p class="bg-success sectionText">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
  <div class="row">
    <div class="col-xs-3">
      <img style="width: 90%;padding: 20px;" src="./../../assets/gauge.png"/>
    </div>
    <div class="col-xs-3">
      <img style="width: 90%;padding: 20px;" src="./../../assets/gauge.png"/>
    </div>
    <div class="col-xs-3">
      <img style="width: 90%;padding: 20px;" src="./../../assets/gauge.png"/>
    </div>
    <div class="col-xs-3">
      <img style="width: 90%;padding: 20px;" src="./../../assets/gauge.png"/>
    </div>
  </div>
</div>
<div class="container container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <img style="max-width: 100%;padding: 20px;" src="./../../assets/stackedbars.png"/>
    </div>
    <div class="col-xs-6">
      <img style="max-width: 90%;padding: 20px;" src="./../../assets/box-plot.png"/>
    </div>
  </div>
</div>
